<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<title th:text="${pageTitle}">Reservation Portal</title>
	<link rel="stylesheet" th:href="@{css/mainpage.css}" href="../static/css/mainpage.css"  />

</head>
<body>

	<div class="header">
		<h1>Reservation Portal</h1>
	</div>

	<div class="row">

		<div class="col-3 col-s-3 menu">
			<ul>
				<li><a th:href="@{/reservation-list.html}" href="/reservation-list.html">List of reservations</a></li>
				<li><a th:href="@{/reservation.html}" href="/reservation.html" th:text="#{menu2}">Make a reservation</a></li>
			</ul>
		</div>

		<div class="col-6 col-s-9 picture"> </div>
	</div>
	<div class="footer">
		<p>&copy; 2011 The Good Thymes Virtual Grocery Resize the browser
			window to see how the content respond to the resizing.</p>
	</div>

</body>
</html>